<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <!-- Material Requests → Materials group -->
        <menuitem
            id="menu_smart_farm_material_request"
            name="Material Requests"
            parent="smart_farm_execution.menu_execution_materials"
            action="action_farm_material_request"
            sequence="10"/>

        <!-- Pending Approvals → Approvals group -->
        <menuitem
            id="menu_smart_farm_material_request_pending"
            name="Pending Approvals"
            parent="smart_farm_execution.menu_execution_approvals"
            action="action_farm_material_request_pending"
            sequence="10"/>

    </data>
</odoo>
